Repository AlexRogalskiy/weather-sprites: changes, and which Codecov flags are due for each by the changed paths.
All: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

docs: updates on workflows
  .npmrc
Due: none

docs: updates on workflows
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

docs: updates on workflows
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates @types/jest to v26.0.23
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates semantic-release monorepo
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates ts-jest to v26.5.6
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates eslint-plugin-unicorn to v32
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates ts-node to v10
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates typescript to v4.3.2
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates eslint-plugin-import to v2.23.4
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates typescript-eslint monorepo to v4.26.0
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates polished to v4.1.3
  core/package-lock.json
  core/package.json
Due: core

:arrow_up: Updates rollup to v2.50.6
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
Due: api-caillen, api-cenobie, api-domino, api-jaydin, api-norene, api-ocie, api-zylla

:arrow_up: Updates eslint to v7.28.0
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates prettier to v2.3.1
  api/alieza/package-lock.json
  api/alieza/package.json
  api/caillen/package-lock.json
  api/caillen/package.json
  api/cenobie/package-lock.json
  api/cenobie/package.json
  api/domino/package-lock.json
  api/domino/package.json
  api/jaydin/package-lock.json
  api/jaydin/package.json
  api/kilan/package-lock.json
  api/kilan/package.json
  api/norene/package-lock.json
  api/norene/package.json
  api/ocie/package-lock.json
  api/ocie/package.json
  api/shaena/package-lock.json
  api/shaena/package.json
  api/unity/package-lock.json
  api/unity/package.json
  api/zylla/package-lock.json
  api/zylla/package.json
  core/package-lock.json
  core/package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates eslint-config-prettier to v8
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates eslint-plugin-jest to v24
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates eslint-plugin-unicorn to v33
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates jest monorepo to v27
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

:arrow_up: Updates jest-emotion to v11
  api/caillen/package.json
Due: api-caillen

:arrow_up: Updates ts-jest to v27
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

docs: updates on documents
  api/alieza/package.json
  api/caillen/package.json
  api/cenobie/package.json
  api/domino/package.json
  api/jaydin/package.json
  api/kilan/package.json
  api/norene/package.json
  api/ocie/package.json
  api/shaena/package.json
  api/unity/package.json
  api/zylla/package.json
  core/package.json
  package.json
Due: core, api-alieza, api-caillen, api-cenobie, api-domino, api-jaydin, api-kilan, api-norene, api-ocie, api-shaena, api-unity, api-zylla

docs: updates on documents
  .node-version
  .stylelintrc.json
  api/caillen/images/styles.css
  api/cenobie/images/styles.css
  api/ocie/images/styles.css
  package.json
Due: api-caillen, api-cenobie, api-ocie

docs: updates on documents
  .github/dependabot.yml
  .stylelintrc.json
  .stylelintrc.scss.json
  package.json
Due: none

docs: updates on documents
  package.json
Due: none

:arrow_up: Updates husky to v6
  package.json
Due: none

Added info on workflows
  lerna.json
  package.json
  plopfile.js
Due: none

Added info on workflows
  plop-templates/js-trigger/.npmignore.hbs
  plop-templates/js-trigger/README.md.hbs
  plop-templates/js-trigger/__tests__/fixtures/workflows/workflow.yml.hbs
  plop-templates/js-trigger/__tests__/index.test.js.hbs
  plop-templates/js-trigger/index.js.hbs
  plop-templates/js-trigger/package.json.hbs
  plop-templates/ts-trigger/README.md.hbs
  plop-templates/ts-trigger/package.json.hbs
  plop-templates/ts-trigger/src/__tests__/fixtures/workflows/workflow.yml.hbs
  plop-templates/ts-trigger/src/__tests__/index.test.ts.hbs
  plop-templates/ts-trigger/src/index.ts.hbs
  plop-templates/ts-trigger/tsconfig.json.hbs
  plop-templates/ts-trigger/tsconfig.production.json.hbs
Due: none

Added info on workflows
  commitlint.config.js
  package.json
Due: none

feat: 🎸 added commitlint package
  .husky/commit-msg
Due: none

Added info on workflows
  .husky/commit-msg
  package.json
Due: none

Added info on workflows
  package.json
Due: none

Added info on workflows
  .stylelintrc.json
  package.json
Due: none

Added info on workflows
  .eslintignore
  .eslintrc.json
  .github/workflows/enforce-changelog.yml
  .husky/commit-msg
  .stylelintrc.json
  .stylelintrc.scss.json
  CHANGELOG.md
  api/caillen/images/styles.css
  api/cenobie/images/styles.css
  api/domino/images/styles.css
  api/ocie/images/styles.css
  commitlint.config.js
  core/src/colors.ts
  package.json
  plopfile.js
Due: core, api-caillen, api-cenobie, api-domino, api-ocie

Added info on workflows
  .pre-commit-config.yaml
  .stickler.yml
  .stylelintignore
  .stylelintrc.json
  CHANGELOG.md
  package.json
Due: none

Added info on workflows
  CHANGELOG.md
  commitlint.config.js
  lerna.json
Due: none

Added info on workflows
  .stylelintrc.json
  CHANGELOG.md
Due: none

:arrow_up: Updates wagoid/commitlint-github-action action to v3
  .github/workflows/commitlint.yml
Due: none

Path conditions:
  core: any of: core
  api-alieza: any of: api/alieza/
  api-caillen: any of: api/caillen/
  api-cenobie: any of: api/cenobie/
  api-domino: any of: api/domino/
  api-jaydin: any of: api/jaydin/
  api-kilan: any of: api/kilan/
  api-norene: any of: api/norene/
  api-ocie: any of: api/ocie/
  api-shaena: any of: api/shaena/
  api-unity: any of: api/unity/
  api-zylla: any of: api/zylla/
